<p class="text-body-secondary h3 p-3">Paciente: {{paciente.apellido.toUpperCase()}}, {{paciente.nombre}}</p>
<div class="d-flex justify-content-between">
   <p class="text-body-secondary h3 p-3">O.Social: {{paciente.obraSocial}}</p>
   <p class="text-body-secondary h3 p-3">Nro Afiliado: {{paciente.nroAfiliado}}</p>
</div>

<nav class="nav nav-tabs">
    <button class="nav-link" type="button" [class.active]="activeTab === 'datosPersonales'" (click)="setActiveTab('datosPersonales')">Datos Personales</button>
    <button class="nav-link" type="button" [class.active]="activeTab === 'declaracionJurada'" (click)="setActiveTab('declaracionJurada')">Declaracion Jurada</button>
    <button class="nav-link" type="button" [class.active]="activeTab === 'odontograma'" (click)="setActiveTab('odontograma')">Odontograma</button>
    <button class="nav-link" type="button" [class.active]="activeTab === 'fotos'" (click)="setActiveTab('fotos')">Fotos</button>
    <button class="nav-link" type="button" [class.active]="activeTab === 'salud'" (click)="setActiveTab('salud')">Salud del paciente</button>
</nav>
<div class="tab-content">
     @if (activeTab === 'datosPersonales'){
        <app-detalle-datos [paciente]="this.paciente"/>
     }
     @if (activeTab === 'declaracionJurada'){
        <app-detalle-paciente-declaracion [paciente]="this.paciente"/>
     }
     @if (activeTab === 'odontograma'){
        <app-odontograma [(listaProcedimientos)]= "this.listaProcedimientos" [mostrarOpciones]="false"/>
     }
     @if (activeTab === 'fotos'){
        <app-detalle-paciente-fotos [paciente]="this.paciente"/>
     }
     @if (activeTab === 'salud'){
        <app-detalle-paciente-salud [paciente]="this.paciente"/>
     }
</div>
