<button type="button" (click)="guardar()">guardar</button>
<button type="button" (click)="actualizar()">Actualizar</button>

@let pacientesLocal = pacientes();

<h2>Pacientes</h2>
@for (pac of pacientesLocal; track pac.id) {
  <div>PACIENTE: {{pac.id}}</div>
  <div>{{pac.apellido}}</div>
  <div>{{pac.nombre}}</div>
  <div>{{pac.nacionalidad}}</div>
  <div>{{pac.fechaNacimiento}}</div>
  <div>{{pac.dni}}</div> 
  <h3>Domiclio</h3>
  <div>{{pac.domicilio.calle}}</div> 
  <div>{{pac.domicilio.localidad}}</div> 
  <div>{{pac.domicilio.numeracion}}</div> 
  <h3>Procedimientos</h3>
  @for (item of pac.procedimientos; track $index) {

    <div>{{item.caraDiente}}</div> 
    <div>{{item.numeroDiente}}</div> 
    <div>{{item.tipoProcedimiento}}</div> 
  }
  <h3>IMAGNES</h3>
  @for (item of pac.imagenes; track $index) {

    <div>{{item.url}}</div> 
  }
}

