<div class="container-fluid">
  <div class="row">
    <app-sidebar class="col-md-2 col-3 text-center text-white vh-100 p-0" />
    <div class="col-md-10 col-9">
      <router-outlet />
    </div>
  </div>
</div>

<!-- <button type="button" (click)="guardar()">guardar</button>
<button type="button" (click)="actualizar()">Actualizar</button>

@let pacientesLocal = pacientes();

<h2>Pacientes</h2>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>nacionalidad</th>
      <th>fechaNacimiento</th>
      <th>DNI</th>
      <th>Domicilio-calle</th>
      <th>numero</th>
      <th>localidad</th>
      <th>caraDiente</th>
    </tr>
  </thead>
  <tbody>
    @for (pac of pacientesLocal; track pac.id) {
      <tr>
        <th>{{pac.id}}</th>
        <th>{{pac.apellido}}</th>
        <th>{{pac.nombre}}</th>
        <th>{{pac.nacionalidad}}</th>
        <th>{{pac.fechaNacimiento}}</th>
        <th>{{pac.dni}}</th>
        <th>{{pac.domicilio.calle}}</th>
        <th>{{pac.domicilio.numeracion}}</th>
        <th>{{pac.domicilio.localidad}}</th>
        @for (item of pac.procedimientos; track $index) {
          <th>{{item.caraDiente}}</th>
          <th>{{item.numeroDiente}}</th> 
          <th>{{item.tipoProcedimiento}}</th> 
        }
        @for (item of pac.imagenes; track $index) {

          <th>{{item.url}}</th> 
        }
      </tr>
    }    
  </tbody>
</table> -->