:host {
    background: #0E3A81;
}
a {
    text-decoration: none;
}
.isologotipo, .isologotexto{
    width: 40%;
    min-width: 50px;
    max-width: 90px;
}
.isologotexto{
    width: 60%;
    min-width: 140px;
    max-width: 1100px;
}
